body {
    margin: 0;
    font-family: Arial;
}


.header {
    text-align: center;
    padding: 32px;
}

.h3 {
  position: relative;
  top:10;
  text-align: center;
  font-size: 20;
  line-height: 1;
  font-family: 'Georgia', Times, Times New Roman, serif;
  float: left;
  width: 200px;
  height: 70px;
  padding: 20px;
  color: #fff;
  background: #4aaaa5;
  border: 1px solid #eee;
}

#box-set {
    position: relative;
    height: auto;
    margin: 20px;
    text-align: center;
    background: #ffffff;
  }

.box {
   display: block;
   width: 200px;
   height:auto;
   float: left;
   margin: 20px;
}

  /* alternate method */
/* 
.row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
} */

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }

    @media screen and (max-width: 600px) {
        .column {
          flex: 100%;
          max-width: 100%;
        }
      }
