body {
    margin: 0;
    font-family: Arial;
}

img {
    width: 100%;;
    height:auto;
    z-index: -1;
}

.header {
    text-align: center;
    padding: 32px;
}

.h3 {
  position: static;
  top:1;
  text-align: center;
  font-size: 28px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-style: bold;
  float: left;
  width: 300px;
  height: 80px;
  padding: 30px;
  margin-left: 40px;
  color: #fff;
  background: #4aaaa5;
  border: 1px solid #eee;
}

#box-set {
    position: relative;
    height: 200px;
    margin-bottom: 20px;
    text-align: center;
    background: #eeeeee;
  }

.box {
   width: 200px;
   height:auto;
   float: left;
   margin: 25px;

}

  /* alternate method */

.row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }

    @media screen and (max-width: 600px) {
        .column {
          flex: 100%;
          max-width: 100%;
        }
      }
